Repository austinpray/kaori, changes with the labels that .github/labeler.yml gives for each.
All labels: feature/gacha, tests, docs

plz
  docs/cloud.md
Labels: docs

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Labels: none

Stopgap: allows production Card class to be import
  kaori/plugins/gacha/engine/core/card.py
Labels: feature/gacha

Adds subtitle property to card
  kaori/plugins/gacha/engine/core/card.py
  kaori/plugins/gacha/engine/core/test_card.py
Labels: feature/gacha, tests

Adds to_regex class methods for core enums
  kaori/plugins/gacha/engine/core/core.py
  kaori/plugins/gacha/engine/core/test_core.py
Labels: feature/gacha, tests

Fixes bug: StatName -> RarityName
  kaori/plugins/gacha/engine/core/card.py
  kaori/plugins/gacha/engine/core/test_card.py
Labels: feature/gacha, tests

Exclude test_*.py from coverage
  .coveragerc
Labels: none

Exclude test_*.py from coverage (#87)
  .coveragerc
Labels: none

Info level logging
  kaori/worker/__init__.py
Labels: none

Better gweb volume mount convention
  docker-compose.yml
Labels: none

DRY config system and add tests-specific config
  config/kaori.py
  config/kaori_test.py
  kaori/__init__.py
  kaori/support/config.py
  kaori/worker/__init__.py
Labels: none

Fixes bug: StatName -> RarityName
  kaori/plugins/gacha/engine/core/card.py
  kaori/plugins/gacha/engine/core/test_card.py
Labels: feature/gacha, tests

Adds subtitle property to card
  kaori/plugins/gacha/engine/core/card.py
  kaori/plugins/gacha/engine/core/test_card.py
Labels: feature/gacha, tests

Stopgap: allows production Card class to be import
  kaori/plugins/gacha/engine/core/card.py
Labels: feature/gacha

Adds to_regex class methods for core enums
  kaori/plugins/gacha/engine/core/core.py
  kaori/plugins/gacha/engine/core/test_core.py
Labels: feature/gacha, tests

Better gweb volume mount convention (#89)
  docker-compose.yml
Labels: none

Info level logging (#88)
  kaori/worker/__init__.py
Labels: none

DRY config system and add tests-specific config (#90)
  config/kaori.py
  config/kaori_test.py
  kaori/__init__.py
  kaori/support/config.py
  kaori/worker/__init__.py
Labels: none

Never check any .env* into source control
  .gitignore
Labels: none

Remove outdated dev_info.py
  Makefile
  kaori/support/dev_info.py
Labels: none

Remove outdated dev_info.py (#92)
  Makefile
  kaori/support/dev_info.py
Labels: none

add tests for slack file download
  kaori/support/test_slack_files.py
Labels: tests

Begins behavior tests for card creation
  kaori/plugins/gacha/commands/test_creation.py
Labels: feature/gacha, tests

Adds GCloudStorageUploader
  .env.example
  .github/workflows/ci.yml
  config/kaori.py
  config/kaori_test.py
  docs/cloud.md
  kaori/skills/file_uploads/README.md
  kaori/skills/file_uploads/__init__.py
  kaori/skills/file_uploads/gcloud.py
  kaori/skills/file_uploads/test_gcloud.py
  kaori/worker/__init__.py
  poetry.lock
  pyproject.toml
Labels: tests, docs

Adds LocalFileUploader skill
  Makefile
  docker-compose.yml
  kaori/skills/__init__.py
  kaori/skills/file_uploads/README.md
  kaori/skills/file_uploads/__init__.py
  kaori/skills/file_uploads/abc.py
  kaori/skills/file_uploads/local.py
  kaori/skills/file_uploads/test_local.py
  kaori/worker/__init__.py
  ngrok.yml
  tests/fixtures/kaori.png
Labels: tests, docs

Adds GCloudStorageUploader
  .env.example
  .github/workflows/ci.yml
  config/kaori.py
  config/kaori_test.py
  docs/cloud.md
  kaori/skills/file_uploads/README.md
  kaori/skills/file_uploads/__init__.py
  kaori/skills/file_uploads/gcloud.py
  kaori/skills/file_uploads/test_gcloud.py
  kaori/worker/__init__.py
  poetry.lock
  pyproject.toml
Labels: tests, docs

Adds LocalFileUploader skill
  Makefile
  docker-compose.yml
  kaori/skills/__init__.py
  kaori/skills/file_uploads/README.md
  kaori/skills/file_uploads/__init__.py
  kaori/skills/file_uploads/abc.py
  kaori/skills/file_uploads/local.py
  kaori/skills/file_uploads/test_local.py
  kaori/worker/__init__.py
  ngrok.yml
  tests/fixtures/kaori.png
Labels: tests, docs

Create linter.yml
  .github/workflows/linter.yml
Labels: none

Update linter.yml
  .github/workflows/linter.yml
Labels: none

Update linter.yml
  .github/workflows/linter.yml
Labels: none

Update linter.yml
  .github/workflows/linter.yml
Labels: none

Update linter.yml
  .github/workflows/linter.yml
Labels: none

Create linter.yml (#93)
  .github/workflows/linter.yml
Labels: none

add nature example input during creation
  kaori/plugins/gacha/tui.py
Labels: feature/gacha

use backticks instead
  kaori/plugins/gacha/tui.py
Labels: feature/gacha

add @kaori
  kaori/plugins/gacha/tui.py
Labels: feature/gacha

add nature example input during creation (#95)
  kaori/plugins/gacha/tui.py
Labels: feature/gacha

Don't conflict with show card XX command
  kaori/plugins/gacha/commands/display.py
Labels: feature/gacha

Finish integration tests for card creation
  kaori/plugins/gacha/commands/test_creation.py
Labels: feature/gacha, tests

Gacha card creation (#66)
  config/kaori_test.py
  db/versions/d78afec52918_adds_gacha_card.py
  kaori/plugins/gacha/__init__.py
  kaori/plugins/gacha/commands/__init__.py
  kaori/plugins/gacha/commands/creation.py
  kaori/plugins/gacha/commands/display.py
  kaori/plugins/gacha/commands/support.py
  kaori/plugins/gacha/commands/test_creation.py
  kaori/plugins/gacha/models/Card.py
  kaori/plugins/gacha/models/Image.py
  kaori/plugins/gacha/tui.py
  kaori/plugins/gacha/utils.py
  kaori/support/slack_files.py
  kaori/support/test_slack_files.py
  kaori/worker/__init__.py
  kaori/worker/test_worker.py
Labels: feature/gacha, tests

.github/labeler.yml:

feature/gacha:
   - kaori/plugins/gacha/*
   - kaori/plugins/gacha/**/*

tests:
   - ./**/test_*.py

docs:
   - ./**/*.md
   - ./*.md
