Repository austinpray/kaori, changes with the labels that .github/labeler.yml gives for each.
All labels: feature/gacha, tests, docs

Update README.md
  kaori/plugins/gacha/README.md
Labels: feature/gacha, docs

Don't use unique name in local file uploader
  kaori/skills/file_uploads/local.py
Labels: none

🤔
  kaori/plugins/gacha/models/Image.py
Labels: feature/gacha

Add file hashing utilities
  kaori/support/files/__init__.py
  kaori/support/files/hash.py
  kaori/support/files/test_hash.py
Labels: tests

Create image with hashed name
  kaori/plugins/gacha/models/Image.py
  kaori/plugins/gacha/models/__init__.py
  kaori/plugins/gacha/models/test_models.py
Labels: feature/gacha, tests

This linter is no good
  .github/workflows/linter.yml
Labels: none

Installs flux
  fluxcd/kustomization.yaml
  fluxcd/patch.yaml
Labels: none

Adds kube workloads
  .github/workflows/ci.yml
  workloads/api-deployment.yaml
  workloads/kustomization.yaml
  workloads/namespace.yml
  workloads/worker-deployment.yaml
Labels: none

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Labels: none

Cache tag name
  docker-compose.yml
Labels: none

This linter is no good (#107)
  .github/workflows/linter.yml
Labels: none

Update workloads/api-deployment.yaml
  workloads/api-deployment.yaml
Labels: none

Adds fluxcd deployment (#108)
  .github/workflows/ci.yml
  docker-compose.yml
  fluxcd/kustomization.yaml
  fluxcd/patch.yaml
  workloads/api-deployment.yaml
  workloads/kustomization.yaml
  workloads/namespace.yml
  workloads/worker-deployment.yaml
Labels: none

Adds fluxcd deployment (#108)
  fluxcd/kustomization.yaml
  fluxcd/patch.yaml
  workloads/api-deployment.yaml
  workloads/kustomization.yaml
  workloads/namespace.yml
  workloads/worker-deployment.yaml
Labels: none

Notes added by 'git notes add'
  7c9e13bd9e0e04089218a7fb213045675cea07dc
Labels: none

Auto-release us.gcr.io/kizuna-188702/kaori/kaori:master-3f5e4af3b5c4460feaed4c6b9587f6ec8b4c3eee
  workloads/api-deployment.yaml
  workloads/worker-deployment.yaml
Labels: none

Auto-release us.gcr.io/kizuna-188702/kaori/kaori:master-3f5e4af3b5c4460feaed4c6b9587f6ec8b4c3eee
  workloads/api-deployment.yaml
  workloads/worker-deployment.yaml
Labels: none

Notes added by 'git notes add'
  89aa87f8e532fe60d4e1d6d25201afbbfb612403
Labels: none

Auto-release us.gcr.io/kizuna-188702/kaori/kaori:master-2b307e652a2577ab8e8e280f8ed5e78e7837b34f
  workloads/api-deployment.yaml
  workloads/worker-deployment.yaml
Labels: none

Auto-release us.gcr.io/kizuna-188702/kaori/kaori:master-cf3cc0301d9ec729c5e68e06e603f03ba4225c76
  workloads/api-deployment.yaml
  workloads/worker-deployment.yaml
Labels: none

don't build a container on flux changes
  .github/workflows/ci.yml
Labels: none

Append hash digest to uploaded image names (#106)
  kaori/plugins/gacha/models/Image.py
  kaori/plugins/gacha/models/__init__.py
  kaori/plugins/gacha/models/test_models.py
  kaori/skills/file_uploads/local.py
  kaori/support/files/__init__.py
  kaori/support/files/hash.py
  kaori/support/files/test_hash.py
Labels: feature/gacha, tests

Notes added by 'git notes add'
  9dbbff534b9b8ab2d3fbde43e0d5f2389e554c56
Labels: none

Notes added by 'git notes add'
  e3ac3e43340abf0626c2623a3cd66d3937876fb5
Labels: none

Auto-release us.gcr.io/kizuna-188702/kaori/kaori:master-f0b0588df76e4aacb1f21d706626346057cc74f7
  workloads/api-deployment.yaml
  workloads/worker-deployment.yaml
Labels: none

Auto-release us.gcr.io/kizuna-188702/kaori/kaori:master-f0b0588df76e4aacb1f21d706626346057cc74f7
  workloads/api-deployment.yaml
  workloads/worker-deployment.yaml
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Adds diagrams
  docs/diagrams/pub-sub-deployment.puml
  docs/diagrams/pub_sub_deployment.png
  docs/diagrams/rtm.png
  docs/diagrams/rtm.puml
Labels: none

.github/labeler.yml:

feature/gacha:
   - kaori/plugins/gacha/*
   - kaori/plugins/gacha/**/*

tests:
   - ./**/test_*.py

docs:
   - ./**/*.md
   - ./*.md
