Repository austinpray/kaori, pull requests merged in 2020-06, with the labels that each got.

#68 Adds module-specific logger to kaori
  kaori/support/Kaori.py
Labels: size/XS

#69 Allow DI to inject handle subclasses and ABCs
  kaori/support/Kaori.py
  kaori/support/di.py
  test-e2e/test_di.py
  test/test_di.py
Labels: size/M

#74 Adds code coverage
  .coveragerc
  .github/workflows/ci.yml
  README.md
  poetry.lock
  pyproject.toml
  pytest.ini
Labels: size/L, tests

#72 Slack authorization signature needs to use request timestamp
  kaori/api/events.py
  vendor/python-slacktools/src/slacktools/authorization.py
Labels: bug, size/S

#71 Add a debugger friendly docker-compose file
  README.md
  dev.docker-compose.yml
Labels: docker, size/M

#70 updates poetry to 1.0.9
  Dockerfile
Labels: size/XS

#76 Add **/*.md as docs label
  .github/labeler.yml
Labels: size/XS

#79 Add kaori avatar to to readme
  README.md
  static/images/kaori.png
  static/images/kaori_angry.png
  static/images/kaori_smug.png
  static/images/kaori_upset.png
Labels: docs

#77 Oof: don't step on people's carefully crafted .env
  .env.example
  .github/workflows/ci.yml
  Makefile
  scripts/create-dotenv-from.py
Labels: size/M

#78 old scripts are old
  scripts/old/2017-12-convert_images_to_cloudfront.py
  scripts/old/2017-12-downcase-all-tags-whoops.sql
  scripts/old/2017-12-set-correct-s3-content-type.py
  scripts/old/2019-12-change_images_domain.py
Labels: cleanup

#80 Docker: use debug image as cache as well
  docker-compose.yml
Labels: size/XS

#75 Integration tests
  .coveragerc
  .env.example
  .github/labeler.yml
  .github/workflows/ci.yml
  Makefile
  docker-compose.yml
  kaori/plugins/gacha/engine/test/battle_simulator2.py
  kaori/plugins/gacha/engine/test_engine.py
  kaori/plugins/kkreds/test_kkreds.py
  kaori/plugins/test_clap.py
  kaori/plugins/test_ping.py
  kaori/support/test_di.py
  kaori/worker/test_worker.py
  poetry.lock
  pyproject.toml
  pytest.ini
  scripts/wait-for
  test-e2e/delete_user_kkreds.py
  test-e2e/user_get_balance.py
  test/test_kkreds.py
  tests/README.md
  tests/run.sh
Labels: feature/gacha, size/XL, tests

#84 Delete unused scripts
  bin/generate-dev-info.py
  bin/generate-secret-key.py
Labels: cleanup, size/S

#87 Exclude test_*.py from coverage
  .coveragerc
Labels: size/XS, tests

#89 Better gweb volume mount convention
  docker-compose.yml
Labels: cleanup, size/XS

#88 Set log level to INFO by default
  kaori/worker/__init__.py
Labels: size/XS

#90 DRY config system and add tests-specific config
  config/kaori.py
  config/kaori_test.py
  kaori/__init__.py
  kaori/support/config.py
  kaori/worker/__init__.py
Labels: size/M

#92 Remove outdated dev_info.py
  Makefile
  kaori/support/dev_info.py
Labels: size/S

#93 Create linter.yml
  .github/workflows/linter.yml
Labels: bikeshedding, size/S

#95 add nature example input during creation
  kaori/plugins/gacha/tui.py
Labels: feature/gacha, size/XS

#66 Gacha card creation [collab branch]
  config/kaori_test.py
  db/versions/d78afec52918_adds_gacha_card.py
  kaori/plugins/gacha/__init__.py
  kaori/plugins/gacha/commands/__init__.py
  kaori/plugins/gacha/commands/creation.py
  kaori/plugins/gacha/commands/display.py
  kaori/plugins/gacha/commands/support.py
  kaori/plugins/gacha/commands/test_creation.py
  kaori/plugins/gacha/models/Card.py
  kaori/plugins/gacha/models/Image.py
  kaori/plugins/gacha/tui.py
  kaori/plugins/gacha/utils.py
  kaori/support/slack_files.py
  kaori/support/test_slack_files.py
  kaori/worker/__init__.py
  kaori/worker/test_worker.py
Labels: feature/gacha, needs rebase, size/XXL

#107 This linter is no good
  .github/workflows/linter.yml
Labels: size/S

#108 Adds fluxcd deployment
  .github/workflows/ci.yml
  docker-compose.yml
  fluxcd/kustomization.yaml
  fluxcd/patch.yaml
  workloads/api-deployment.yaml
  workloads/kustomization.yaml
  workloads/namespace.yml
  workloads/worker-deployment.yaml
Labels: area/deploys, size/L

#106 Append hash digest to uploaded image names
  kaori/plugins/gacha/models/Image.py
  kaori/plugins/gacha/models/__init__.py
  kaori/plugins/gacha/models/test_models.py
  kaori/skills/file_uploads/local.py
  kaori/support/files/__init__.py
  kaori/support/files/hash.py
  kaori/support/files/test_hash.py
Labels: feature/gacha

#118 Fixes incorrect HP display on cards in slack
  kaori/conftest.py
  kaori/plugins/gacha/engine/core/test_card.py
  kaori/plugins/gacha/models/Card.py
  kaori/plugins/gacha/models/test_models.py
Labels: feature/gacha, size/M

#116 Adds deploy tag to deploy related stuff
  .github/labeler.yml
Labels: size/S

#119 Accepts lowercase rarity in card creation
  kaori/plugins/gacha/commands/creation.py
  kaori/plugins/gacha/commands/test_creation.py
Labels: feature/gacha, size/M

#122 Adds battle command for cards
  .coveragerc
  config/kaori.py
  kaori/conftest.py
  kaori/plugins/gacha/commands/__init__.py
  kaori/plugins/gacha/commands/battle.py
  kaori/plugins/gacha/commands/support.py
  kaori/plugins/gacha/commands/test_battle.py
  kaori/plugins/gacha/commands/test_creation.py
  kaori/plugins/gacha/commands/test_support.py
  kaori/plugins/gacha/models/Card.py
  kaori/plugins/gacha/skills/__init__.py
  kaori/plugins/gacha/tui.py
  kaori/worker/__init__.py
  poetry.lock
  pyproject.toml
Labels: feature/gacha, size/L

#126 Better list view and battle view
  kaori/plugins/gacha/commands/battle.py
  kaori/plugins/gacha/tui.py
Labels: feature/gacha, size/M

#124 Interrogative-last card create instructions order
  kaori/plugins/gacha/commands/creation.py
  kaori/plugins/gacha/commands/test_support.py
  kaori/plugins/gacha/test_tui.py
  kaori/plugins/gacha/tui.py
Labels: feature/gacha, size/L

#127 Creates issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: size/M

#125 Use full-width image in single view
  kaori/plugins/gacha/commands/creation.py
  kaori/plugins/gacha/tui.py
Labels: feature/gacha, size/L

#128 move test card renderers to test utils
  kaori/plugins/gacha/engine/core/card.py
  kaori/plugins/gacha/engine/test/card_simulator.py
  kaori/plugins/gacha/engine/test/cli_battle_simulator.py
  kaori/plugins/gacha/engine/test/utils.py
Labels: feature/gacha, size/L

#133 Fixes gcloud docker-compose credential issues in build
  .github/workflows/ci.yml
Labels: size/XS

#136 Make slacktools a first-party module to get dependabot working again
  Dockerfile
  kaori/adapters/slack.py
  kaori/api/events.py
  kaori/plugins/clap.py
  kaori/plugins/gacha/commands/creation.py
  kaori/plugins/kkreds/__init__.py
  kaori/support/slacktools/__init__.py
  kaori/support/slacktools/arguments.py
  kaori/support/slacktools/authorization.py
  kaori/support/slacktools/chat.py
  kaori/support/slacktools/message.py
  kaori/support/slacktools/test_arguments.py
  kaori/support/slacktools/test_authorization.py
  kaori/support/slacktools/util.py
  poetry.lock
  pyproject.toml
  pytest.ini
  vendor/python-slacktools/.coveragerc
  vendor/python-slacktools/.gitignore
  vendor/python-slacktools/.travis.yml
  vendor/python-slacktools/LICENSE
  vendor/python-slacktools/Makefile
  vendor/python-slacktools/README.rst
  vendor/python-slacktools/docs/Makefile
  vendor/python-slacktools/docs/make.bat
  vendor/python-slacktools/docs/source/api.rst
  vendor/python-slacktools/docs/source/conf.py
  vendor/python-slacktools/docs/source/index.rst
  vendor/python-slacktools/pytest.ini
  vendor/python-slacktools/requirements-dev.txt
  vendor/python-slacktools/setup.cfg
  vendor/python-slacktools/setup.py
  vendor/python-slacktools/src/slacktools/version.py
  vendor/python-slacktools/tests/test_chat.py
Labels: docker, feature/gacha

#135 Support for slugs with words longer than 63 chars long
  kaori/plugins/gacha/models/Card.py
  kaori/plugins/gacha/models/test_card.py
Labels: bug, feature/gacha, size/M

#132 Better partial card name matching in battle and show commands
  kaori/conftest.py
  kaori/plugins/gacha/commands/battle.py
  kaori/plugins/gacha/commands/display.py
  kaori/plugins/gacha/models/Card.py
  kaori/plugins/gacha/models/test_models.py
Labels: feature/gacha, size/L

#149 Removes unused deps
  poetry.lock
  pyproject.toml
Labels: size/M

#151 Connect CLI battle sim to database
  .coveragerc
  kaori/plugins/gacha/bin/simulator.py
  kaori/plugins/gacha/engine/test/__init__.py
  kaori/plugins/gacha/engine/test/battle_simulator.py
  kaori/plugins/gacha/engine/test/battle_simulator2.py
  kaori/plugins/gacha/engine/test/cli_battle_simulator.py
  kaori/plugins/gacha/engine/test/utils.py
  kaori/plugins/gacha/engine/test/web_battle_simulator.py
  kaori/plugins/gacha/engine/test_engine.py
Labels: feature/gacha, size/L
